<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>SimpleIdent</h1>

<a href="/admin/accounts">account list</a>
<a href="/admin/oauth2/clients">oauth2 client list</a>
</body>
</html>